- id: '1767017257955'
  alias: Cozinha - Presença (Meross MS600)
  description: Dispara quando há presença ou ausência na cozinha; se detectar presença,
    liga a luz. Se não houver movimento, espera 2 minutos, confirma a ausência e
    desliga a luz
  triggers:
  - entity_id: binary_sensor.sensor_de_meross_ocupacao
    to: 'on'
    trigger: state
  - entity_id: binary_sensor.sensor_de_meross_ocupacao
    to: 'off'
    trigger: state
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: binary_sensor.sensor_de_meross_ocupacao
        state: 'on'
      sequence:
      - target:
          entity_id: switch.zemismart_wifi_smart_switch
        action: switch.turn_on
    - conditions:
      - condition: state
        entity_id: binary_sensor.sensor_de_meross_ocupacao
        state: 'off'
      sequence:
      - delay:
          minutes: 2
      - condition: state
        entity_id: binary_sensor.sensor_de_meross_ocupacao
        state: 'off'
      - target:
          entity_id: switch.zemismart_wifi_smart_switch
        action: switch.turn_off
  mode: restart
- id: '1767028397721'
  alias: Escadas - Movimento liga e desliga (2 PIR)
  description: Dispara quando qualquer sensor PIR detecta movimento; se algum estiver
    ativo, liga a luz das escadas. Quando ambos ficam sem movimento, espera 3 minutos,
    confirma ausência nos dois sensores e desliga a luz
  triggers:
  - entity_id:
    - binary_sensor.sensor_escadas_1_occupancy
    - binary_sensor.sensor_escadas_2_occupancy
    to: 'on'
    trigger: state
  - entity_id:
    - binary_sensor.sensor_escadas_1_occupancy
    - binary_sensor.sensor_escadas_2_occupancy
    to: 'off'
    trigger: state
  actions:
  - choose:
    - conditions:
      - condition: or
        conditions:
        - condition: state
          entity_id: binary_sensor.sensor_escadas_1_occupancy
          state: 'on'
        - condition: state
          entity_id: binary_sensor.sensor_escadas_2_occupancy
          state: 'on'
      sequence:
      - target:
          entity_id: switch.zemismart_wifi_smart_switch_switch_2
        action: switch.turn_on
    - conditions:
      - condition: and
        conditions:
        - condition: state
          entity_id: binary_sensor.sensor_escadas_1_occupancy
          state: 'off'
        - condition: state
          entity_id: binary_sensor.sensor_escadas_2_occupancy
          state: 'off'
      sequence:
      - delay: 00:03:00
      - condition: and
        conditions:
        - condition: state
          entity_id: binary_sensor.sensor_escadas_1_occupancy
          state: 'off'
        - condition: state
          entity_id: binary_sensor.sensor_escadas_2_occupancy
          state: 'off'
      - target:
          entity_id: switch.zemismart_wifi_smart_switch_switch_2
        action: switch.turn_off
  mode: restart
- id: '1767032409624'
  alias: Sala - Geral controla Painel, Sofá e Cortinas
  description: Dispara ao ligar ou desligar o geral da sala; ao ligar, ativa painel,
    sofá e cortinas; ao desligar, desliga os três e também desliga o ventilador via
    cena
  triggers:
  - entity_id: switch.geral_da_sala_de_estar
    to: 'on'
    trigger: state
  - entity_id: switch.geral_da_sala_de_estar
    to: 'off'
    trigger: state
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: switch.geral_da_sala_de_estar
        state: 'on'
      sequence:
      - target:
          entity_id:
          - switch.painel_da_sala_de_estar
          - switch.sofa_da_sala_de_estar
          - switch.cortinas_da_sala_de_estar
        action: switch.turn_on
    - conditions:
      - condition: state
        entity_id: switch.geral_da_sala_de_estar
        state: 'off'
      sequence:
      - target:
          entity_id:
          - switch.painel_da_sala_de_estar
          - switch.sofa_da_sala_de_estar
          - switch.cortinas_da_sala_de_estar
        action: switch.turn_off
        data: {}
      - action: scene.turn_on
        metadata: {}
        target:
          entity_id: scene.ventilador_desligar
        data: {}
  mode: restart
- id: '1767033346973'
  alias: Externo - Desligar luzes às 23h (somente se estiver em casa)
  description: Dispara às 23:00; só executa se eu estiver em casa; desliga as luzes
    da frente e da lateral
  triggers:
  - at: '23:00:00'
    trigger: time
  conditions:
  - condition: state
    state:
    - home
    entity_id: person.casa_14
  actions:
  - target:
      entity_id:
      - switch.luz_frente_de_casa
      - switch.lateral_da_casa
    action: switch.turn_off
  mode: single
- id: '1767034599426'
  alias: Chuva - Notificar e repetir se houver janelas abertas
  description: Dispara quando começar a chover por 10 s; limpa o alerta confirmado
    e envia notificação indicando se a janela do quarto das crianças e/ou a janela
    da sacada estão abertas. Enquanto estiver chovendo, o alerta não for confirmado
    e houver janelas abertas, repete a notificação a cada 5 minutos
  triggers:
  - entity_id:
    - binary_sensor.sensor_de_chuva_ocupacao
    to:
    - 'on'
    for:
      hours: 0
      minutes: 0
      seconds: 10
    trigger: state
  conditions: []
  actions:
  - target:
      entity_id: input_boolean.chuva_alerta_confirmado
    action: input_boolean.turn_off
    data: {}
  - target:
      entity_id: script.notificacao_comecou_a_chover
    data:
      variables:
        alerta: "{{ is_state('binary_sensor.janela_quarto_criancas_contact', 'on')\n
          \  or is_state('binary_sensor.porta_da_sacada_contact', 'on') }}"
        repeticao: false
        aberturas: "{% set j = is_state('binary_sensor.janela_quarto_criancas_contact','on')
          %} {% set p = is_state('binary_sensor.porta_da_sacada_contact','on') %}
          {% if j and p %}\n  Janela quarto crianças, Janela da sacada\n{% elif j %}\n
          \ Janela quarto crianças\n{% elif p %}\n  Janela da sacada\n{% else %}\n  \n{%
          endif %}"
    action: script.turn_on
  - repeat:
      while:
      - condition: state
        state:
        - 'on'
        entity_id: binary_sensor.sensor_de_chuva_ocupacao
      - condition: state
        entity_id: input_boolean.chuva_alerta_confirmado
        state: 'off'
      - condition: or
        conditions:
        - condition: state
          entity_id: binary_sensor.janela_quarto_criancas_contact
          state: 'on'
        - condition: state
          entity_id: binary_sensor.porta_da_sacada_contact
          state: 'on'
      sequence:
      - delay: 00:05:00
      - condition: state
        state:
        - 'on'
        entity_id: binary_sensor.sensor_de_chuva_ocupacao
      - condition: state
        entity_id: input_boolean.chuva_alerta_confirmado
        state: 'off'
      - condition: or
        conditions:
        - condition: state
          entity_id: binary_sensor.janela_quarto_criancas_contact
          state: 'on'
        - condition: state
          entity_id: binary_sensor.porta_da_sacada_contact
          state: 'on'
      - target:
          entity_id: script.notificacao_comecou_a_chover
        data:
          variables:
            alerta: true
            repeticao: true
            aberturas: "{% set j = is_state('binary_sensor.janela_quarto_criancas_contact','on')
              %} {% set p = is_state('binary_sensor.porta_da_sacada_contact','on')
              %} {% if j and p %}\n  Janela quarto crianças, Janela da sacada\n{% elif
              j %}\n  Janela quarto crianças\n{% elif p %}\n  Janela da sacada\n{% else
              %}\n  \n{% endif %}"
        action: script.turn_on
  mode: restart
- id: '1767042570608'
  alias: Chuva - Notificar quando parar
  description: Dispara quando a chuva parar por 1 minuto; limpa o alerta confirmado
    e envia notificação informando se a janela do quarto das crianças e/ou a janela
    da sacada estão abertas
  triggers:
  - entity_id:
    - binary_sensor.sensor_de_chuva_ocupacao
    for:
      hours: 0
      minutes: 1
      seconds: 0
    trigger: state
    to:
    - 'off'
  conditions: []
  actions:
  - target:
      entity_id: input_boolean.chuva_alerta_confirmado
    action: input_boolean.turn_off
    data: {}
  - target:
      entity_id: script.notificacao_chuva_parou
    data:
      variables:
        alerta: "{{ is_state('binary_sensor.janela_quarto_criancas_contact', 'on')\n
          \  or is_state('binary_sensor.porta_da_sacada_contact', 'on') }}"
        aberturas: "{% set j = is_state('binary_sensor.janela_quarto_criancas_contact','on')
          %} {% set p = is_state('binary_sensor.porta_da_sacada_contact','on') %}
          {% if j and p %}\n  Janela quarto crianças, Janela da sacada\n{% elif j %}\n
          \ Janela quarto crianças\n{% elif p %}\n  Janela da sacada\n{% else %}\n  \n{%
          endif %}"
    action: script.turn_on
  mode: single
- id: '1767043454822'
  alias: Churrasqueira - Desligar ao parar movimento
  description: Dispara quando não há mais movimento na churrasqueira; se a luz estiver
    ligada, desliga a luz
  triggers:
  - entity_id: binary_sensor.sensor_de_presenca_e_luminosidade_ocupacao
    to: 'off'
    trigger: state
  conditions:
  - condition: state
    entity_id: switch.luzes_churrasqueira
    state:
    - 'on'
  actions:
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: switch.luzes_churrasqueira
  mode: single
- id: '1767044460202'
  alias: Escritório - Ligar ar condicionado (presença + porta fechada)
  description: Dispara ao detectar presença ou ao fechar a porta do escritório; só
    executa se houver presença e a porta estiver fechada; então liga o ar condicionado
    via cena
  triggers:
  - entity_id: binary_sensor.sensor_de_presenca_e_luminosidade_escritorio_ocupacao
    to: 'on'
    trigger: state
  - entity_id: binary_sensor.sensor_porta_escritorio_contact
    to: 'off'
    trigger: state
  conditions:
  - condition: state
    entity_id: binary_sensor.sensor_de_presenca_e_luminosidade_escritorio_ocupacao
    state: 'on'
  - condition: state
    entity_id: binary_sensor.sensor_porta_escritorio_contact
    state: 'off'
  actions:
  - target:
      entity_id: scene.ligar_ar_condicionado_midea
    action: scene.turn_on
  mode: single
- id: '1767044649808'
  alias: Escritório - Desligar ar condicionado sem presença
  description: Dispara quando não há presença no escritório por 10 minutos; desliga
    o ar condicionado via cena
  triggers:
  - entity_id:
    - binary_sensor.sensor_de_presenca_e_luminosidade_escritorio_ocupacao
    to:
    - 'off'
    trigger: state
    for:
      hours: 0
      minutes: 10
      seconds: 0
  conditions: []
  actions:
  - target:
      entity_id: scene.desligar_ar_condicionado_midea
    action: scene.turn_on
    data: {}
  mode: restart
- id: '1767057340829'
  alias: Sala - Interruptor do ventilador controla cenas
  description: Dispara ao ligar ou desligar o interruptor do ventilador da sala;
    ao ligar, ativa as cenas do ventilador e da luz; ao desligar, executa a cena de
    desligar o ventilador
  triggers:
  - entity_id: switch.controlador_ventilador_da_sala
    to: 'on'
    trigger: state
  - entity_id: switch.controlador_ventilador_da_sala
    to: 'off'
    trigger: state
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: switch.controlador_ventilador_da_sala
        state: 'on'
      sequence:
      - target:
          entity_id:
          - scene.ventilador_3
          - scene.luz_ventilador
        action: scene.turn_on
    - conditions:
      - condition: state
        entity_id: switch.controlador_ventilador_da_sala
        state: 'off'
      sequence:
      - target:
          entity_id: scene.ventilador_desligar
        action: scene.turn_on
  mode: single
- id: '1767059546302'
  alias: Sala - Sem movimento desliga o geral
  description: Dispara quando não há movimento na sala por 5 minutos; só executa se
    o geral da sala estiver ligado; então desliga o geral
  triggers:
  - entity_id: binary_sensor.lnlinkha_e04b4101a27b0000000000009cac0000
    to: 'off'
    for: 00:05:00
    trigger: state
  conditions:
  - condition: state
    entity_id: switch.geral_da_sala_de_estar
    state: 'on'
  actions:
  - target:
      entity_id: switch.geral_da_sala_de_estar
    action: switch.turn_off
  mode: restart
- id: '1767134436970'
  alias: Churrasqueira - Ligar ao detectar movimento
  description: Dispara quando há movimento na churrasqueira; se a luz estiver desligada,
    liga a luz
  triggers:
  - entity_id: binary_sensor.sensor_de_presenca_e_luminosidade_ocupacao
    to: 'on'
    trigger: state
  conditions:
  - condition: state
    entity_id: switch.luzes_churrasqueira
    state: 'off'
  actions:
  - action: switch.turn_on
    data: {}
    target:
      entity_id: switch.luzes_churrasqueira
  mode: single
