
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

template:
  - binary_sensor:
      - name: Janelas abertas
        unique_id: janelas_abertas
        state: >
          {{ states('binary_sensor.janela_quarto_criancas_contact') in ['on', 'open']
             or states('binary_sensor.porta_da_sacada_contact') in ['on', 'open'] }}
      - name: Chuva janelas abertas
        unique_id: chuva_janelas_abertas
        state: >
          {{ is_state('binary_sensor.sensor_de_chuva_ocupacao', 'on')
             and is_state('binary_sensor.janelas_abertas', 'on') }}

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
